# Ptyhon Intro

## Basic Basics

In [28]:
6*7

42

In [27]:
greet = "hello"
obj = "world"
print("I say {} {}".format(greet, obj))

I say hello world

## Basic Lists

In [22]:
arr=[0,1,2,3,4]
arr

[0, 1, 2, 3, 4]

In [8]:
arr[0:2]

[0, 1]

In [19]:
arr[-1:]

[4]

## Advanced Lists

In [26]:
print([a for a in arr])

[0, 1, 2, 3, 4]

In [36]:
arr2 = list(map(lambda x: 2*x, arr))
print (arr)
print (arr2)

[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]

In [39]:
arr3 = list(filter(lambda x: x%2==0, arr))
print(arr3)
print(arr)

[0, 2, 4]
[0, 1, 2, 3, 4]

## Lists on Steroids with NumPy

In [41]:
import numpy as np
narr = np.array(arr)
print(narr)

[0 1 2 3 4]

In [42]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [49]:
narr = np.random.normal(size=12)
print(narr)

[ 0.62718073 -1.7813613  -0.63797183  1.39088427 -0.8269024   0.29349989
 -0.46296843 -0.0175809  -0.33670586 -0.93276021 -1.10778753  0.58957238]

In [51]:
nmat = narr.reshape(3,4)
print(nmat)

[[ 0.62718073 -1.7813613  -0.63797183  1.39088427]
 [-0.8269024   0.29349989 -0.46296843 -0.0175809 ]
 [-0.33670586 -0.93276021 -1.10778753  0.58957238]]

In [58]:
print("Min: ", narr.min())
print("Max: ", narr.max())
print("Mean:", narr.mean())

Min:  -1.78136129879
Max:  1.39088427314
Mean: -0.266908432325

## And finally Pandas Data Frames

In [64]:
import pandas as pd

In [72]:
years = [2015, 2016, 2017, 2018]
region = ["North", "East", "West", "South"]
sales = np.random.randint(200, 500, (4,4))
df = pd.DataFrame(data=sales, index=region, columns=years)
df

       2015  2016  2017  2018
North   314   249   311   419
East    371   449   345   245
West    386   467   225   417
South   495   384   299   233

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, North to South
Data columns (total 4 columns):
2015    4 non-null int64
2016    4 non-null int64
2017    4 non-null int64
2018    4 non-null int64
dtypes: int64(4)
memory usage: 160.0+ bytes

In [74]:
df.describe()

             2015        2016        2017       2018
count    4.000000    4.000000    4.000000    4.00000
mean   391.500000  387.250000  295.000000  328.50000
std     75.650512   98.820966   50.570083  103.46497
min    314.000000  249.000000  225.000000  233.00000
25%    356.750000  350.250000  280.500000  242.00000
50%    378.500000  416.500000  305.000000  331.00000
75%    413.250000  453.500000  319.500000  417.50000
max    495.000000  467.000000  345.000000  419.00000

In [76]:
df.sum(1)

North    1293
East     1410
West     1495
South    1411
dtype: int64

## And Plotting